# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/

# Django
db.sqlite3
*.log

# Environment variables
.env

# Celery
celerybeat-schedule
*.pid

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node (frontend later)
node_modules/
.next/
dist/